
.main-table {
  border-collapse: separate;
  border-spacing: 0 10px !important;

  thead {
    th {
      background-color: #f1f1ff !important;
      padding: 8px 8px !important;
      font-family: IRANSans !important;
      font-size: 14px !important;
      font-style: normal !important;
      font-weight: 400 !important;
      line-height: 180% !important; /* 32.4px */
      color: black;
      position: sticky;
      z-index: 9;
      top:0;
    }

    th:first-child {
      border-radius: 0 8px 8px 0 !important;
      padding-right: 24px !important;
    }

    th:last-child {
      border-radius: 8px 0 0 8px !important;
      padding-left: 16px !important;
    }
  }

  tbody {
    tr {
      padding-top: 8px !important;
      margin-top: 8px !important;
      background-color: #f4f8f7;
      td {
        font-family: IRANSans !important;
        font-size: 12px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 200% !important; /* 32px */
        color: #232933 !important;
        text-align: center;
      }

      
    }

    .tr-normal {
      td {
        padding: 20px 8px !important;
        text-align: center;
      }
      td:first-child {
        border-radius: 0 8px 8px 0;
        padding-right: 24px !important;
      }

      td:last-child {
        border-radius: 8px 0 0 8px;
        padding-left: 16px !important;
      }
    }

    .tr-with-expand {
      td {
        padding: 20px 8px !important;
        text-align: center;
      }

      td:first-child {
        border-radius: 0 8px 0 0;
        padding-right: 24px !important;
      }

      td:last-child {
        border-radius: 8px 0 0 0;
        padding-left: 16px !important;
      }
    }
    // tr:not(.tr-expand):hover {background-color:  #dfdff7;}

    .tr-expand{
      position: relative;
      background-color: #f4f8f7;
      td {
        border-radius: 0 0 8px 8px;
      }
    }
  }
}



